<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GenerowanieNotDoWyslania.ErpxlAddon.Properties.Settings.CDNXL_PNIPH_KSIConnectionString"
            connectionString="Data Source=i7main;Initial Catalog=CDNXL_PNIPH_KSI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GenerowanieNotDoWyslania.ErpxlAddon.Properties.Settings.CDNXL_PNIPH_KSIConnectionString1"
            connectionString="Data Source=.;Initial Catalog=CDNXL_PNIPH_KSI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GenerowanieNotDoWyslania.ErpxlAddon.Properties.Settings.CDNXL_PNIPH_KSI_TESTConnectionString"
            connectionString="Data Source=DESKTOP-K9G2C01;Initial Catalog=CDNXL_PNIPH_KSI_TEST;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>